body{
    display:flex;
    flex-direction: column;
    background: rgb(228,228,228);
    background: linear-gradient(180deg, rgba(228,228,228,1) 0%, rgba(255,255,255,0.7542029272151899) 52%, rgba(255,255,255,0.11812697784810122) 100%);
}
header h1{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 4rem;filter: drop-shadow(0px 2px 1px #bbbbbb);
}
h1{
    font-family: 'Montserrat';
    font-weight: 600;
}
nav h1{
    font-size: 2rem;
}
main h1{
    font-size: 2rem;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    opacity: 70%;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(247, 247, 247);
    height:3rem;
    padding: 1rem;
    border-radius: 1rem;
    filter: drop-shadow(0px 5px 5px #afafaf);
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15rem;
    margin-top: 7rem;
}
main{
    display: flex;
    justify-content: space-around;
    margin-top: 10rem;
    height: 30rem;
}
.section_box{
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: 1rem;
}
img{
   min-width: 25rem;
   max-width: 40rem;
   margin: 1rem;
}
footer{
    display: flex;
    align-items: center;
    background-color:#6449E1 ;
    border-radius: 1rem;
    height: 5rem;
}
footer p{
    font-weight: 600;
}